[submodule "vim/.vim/pack/bundle/opt/base16-vim"]
	path = vim/.vim/pack/bundle/opt/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "vim/.vim/pack/bundle/opt/command-t"]
	path = vim/.vim/pack/bundle/opt/command-t
	url = https://github.com/wincent/command-t.git
[submodule "vim/.vim/pack/bundle/opt/deoplete.nvim"]
	path = vim/.vim/pack/bundle/opt/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "vim/.vim/pack/bundle/opt/ferret"]
	path = vim/.vim/pack/bundle/opt/ferret
	url = https://github.com/wincent/ferret.git
[submodule "vim/.vim/pack/bundle/opt/goyo.vim"]
	path = vim/.vim/pack/bundle/opt/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule "vim/.vim/pack/bundle/opt/indentLine"]
	path = vim/.vim/pack/bundle/opt/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "vim/.vim/pack/bundle/opt/loupe"]
	path = vim/.vim/pack/bundle/opt/loupe
	url = https://github.com/wincent/loupe.git
[submodule "vim/.vim/pack/bundle/opt/nerdtree"]
	path = vim/.vim/pack/bundle/opt/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/pack/bundle/opt/pinnacle"]
	path = vim/.vim/pack/bundle/opt/pinnacle
	url = https://github.com/wincent/pinnacle.git
[submodule "vim/.vim/pack/bundle/opt/replay"]
	path = vim/.vim/pack/bundle/opt/replay
	url = https://github.com/wincent/replay.git
[submodule "vim/.vim/pack/bundle/opt/scalpel"]
	path = vim/.vim/pack/bundle/opt/scalpel
	url = https://github.com/wincent/scalpel.git
[submodule "vim/.vim/pack/bundle/opt/tcomment_vim"]
	path = vim/.vim/pack/bundle/opt/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vim/.vim/pack/bundle/opt/terminus"]
	path = vim/.vim/pack/bundle/opt/terminus
	url = https://github.com/wincent/terminus.git
[submodule "vim/.vim/pack/bundle/opt/typescript-vim"]
	path = vim/.vim/pack/bundle/opt/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/.vim/pack/bundle/opt/ultisnips"]
	path = vim/.vim/pack/bundle/opt/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/.vim/pack/bundle/opt/undotree"]
	path = vim/.vim/pack/bundle/opt/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "vim/.vim/pack/bundle/opt/vim-abolish"]
	path = vim/.vim/pack/bundle/opt/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "vim/.vim/pack/bundle/opt/vim-ansible-yaml"]
	path = vim/.vim/pack/bundle/opt/vim-ansible-yaml
	url = https://github.com/chase/vim-ansible-yaml.git
[submodule "vim/.vim/pack/bundle/opt/vim-clipper"]
	path = vim/.vim/pack/bundle/opt/vim-clipper
	url = https://github.com/wincent/vim-clipper.git
[submodule "vim/.vim/pack/bundle/opt/vim-docvim"]
	path = vim/.vim/pack/bundle/opt/vim-docvim
	url = https://github.com/wincent/vim-docvim.git
[submodule "vim/.vim/pack/bundle/opt/vim-easydir"]
	path = vim/.vim/pack/bundle/opt/vim-easydir
	url = https://github.com/duggiefresh/vim-easydir.git
[submodule "vim/.vim/pack/bundle/opt/vim-eunuch"]
	path = vim/.vim/pack/bundle/opt/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "vim/.vim/pack/bundle/opt/vim-fugitive"]
	path = vim/.vim/pack/bundle/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/pack/bundle/opt/vim-json"]
	path = vim/.vim/pack/bundle/opt/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "vim/.vim/pack/bundle/opt/vim-markdown"]
	path = vim/.vim/pack/bundle/opt/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/.vim/pack/bundle/opt/vim-operator-user"]
	path = vim/.vim/pack/bundle/opt/vim-operator-user
	url = https://github.com/kana/vim-operator-user.git
[submodule "vim/.vim/pack/bundle/opt/vim-pathogen"]
	path = vim/.vim/pack/bundle/opt/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/.vim/pack/bundle/opt/vim-projectionist"]
	path = vim/.vim/pack/bundle/opt/vim-projectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule "vim/.vim/pack/bundle/opt/vim-reason-plus"]
	path = vim/.vim/pack/bundle/opt/vim-reason-plus
	url = https://github.com/reasonml-editor/vim-reason-plus.git
[submodule "vim/.vim/pack/bundle/opt/vim-repeat"]
	path = vim/.vim/pack/bundle/opt/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/.vim/pack/bundle/opt/vim-signature"]
	path = vim/.vim/pack/bundle/opt/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "vim/.vim/pack/bundle/opt/vim-slime"]
	path = vim/.vim/pack/bundle/opt/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule "vim/.vim/pack/bundle/opt/vim-surround"]
	path = vim/.vim/pack/bundle/opt/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/.vim/pack/bundle/opt/vim-textobj-comment"]
	path = vim/.vim/pack/bundle/opt/vim-textobj-comment
	url = https://github.com/glts/vim-textobj-comment.git
[submodule "vim/.vim/pack/bundle/opt/vim-textobj-rubyblock"]
	path = vim/.vim/pack/bundle/opt/vim-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "vim/.vim/pack/bundle/opt/vim-textobj-user"]
	path = vim/.vim/pack/bundle/opt/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "vim/.vim/pack/bundle/opt/vim-zsh"]
	path = vim/.vim/pack/bundle/opt/vim-zsh
	url = https://github.com/chrisbra/vim-zsh.git
[submodule "vim/.vim/pack/bundle/opt/vim-git"]
	path = vim/.vim/pack/bundle/opt/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "vim/.vim/pack/bundle/opt/LanguageClient-neovim"]
	path = vim/.vim/pack/bundle/opt/LanguageClient-neovim
	url = https://github.com/autozimu/LanguageClient-neovim.git
[submodule "vim/.vim/pack/bundle/opt/neco-ghc"]
	path = vim/.vim/pack/bundle/opt/neco-ghc
	url = https://github.com/eagletmt/neco-ghc.git
[submodule "vim/.vim/pack/bundle/opt/vcs-jump"]
	path = vim/.vim/pack/bundle/opt/vcs-jump
	url = https://github.com/wincent/vcs-jump.git
[submodule "vim/.vim/pack/bundle/opt/vim-javascript"]
	path = vim/.vim/pack/bundle/opt/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/.vim/pack/bundle/opt/vim-lion"]
	path = vim/.vim/pack/bundle/opt/vim-lion
	url = https://github.com/tommcdo/vim-lion.git
[submodule "vim/.vim/pack/bundle/opt/vim-soy"]
	path = vim/.vim/pack/bundle/opt/vim-soy
	url = https://github.com/duganchen/vim-soy.git
[submodule "vim/.vim/pack/bundle/opt/vim-jsx"]
	path = vim/.vim/pack/bundle/opt/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
